[core]
        editor = vim
[user]
        email = raphael@lustin.fr
        name = Raphaël Lustin
[push]
        default = simple
[pull]
        rebase = true
[rebase]
        autostash = true
        autosquash = true
[color]
        ui = true
[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        continue = rebase --continue
        cdiff = diff --cached
        amend = commit --amend
        cancel = !git reset --soft HEAD~ && git reset HEAD .
        co = checkout
        rerebase = !git fetch upstream dev && git rebase upstream/dev
        fpush = push -f
        track = branch --set-upstream-to=upstream/dev
        fpo = push -f origin
        staged = diff --staged
        pdiff = diff -w --color-words
        pshow = show -w --color-words
        pstaged = diff --staged -w --color-words
        fixup = commit --fixup
        trackm = branch --set-upstream-to=upstream/master
        rbi = rebase -i
        st = status -sb
        ls-others = ls-files -o --exclude-standard
        plog = log --oneline --decorate --graph --boundary
        qf = log --format="%H" HEAD@{u}..
        qu = log --oneline --decorate --boundary --graph HEAD@{u}...
        quc = log --oneline --decorate --graph HEAD@{u}..
        qus = log --oneline --decorate --graph --stat -M HEAD@{u}...
        pq = log --oneline --decorate --graph -p -b HEAD@{u}...
        pqr = log --oneline --decorate --reverse -p -b HEAD@{u}...
        review = rebase --autosquash -i HEAD@{u}
        rework = rebase --autosquash --autostash -i HEAD@{u}
        fop = fetch -p origin
        clog = log -g --grep-reflog="checkout:" --oneline
        pdiff = diff -w --color-words
        pshow = show --color-words
[log]
  follow = true
