[core]
  editor = vim
[user]
  email = raphael@lustin.fr
  name = Raphaël Lustin
[push]
  default = simple
[pull]
  rebase = true
[rebase]
  autostash = true
  autosquash = true
[color]
  ui = true
[log]
  follow = true
[alias]
  amend = commit --amend
  cancel = !git reset --soft HEAD~ && git reset HEAD .
  cdiff = diff --cached
  clog = log -g --grep-reflog="checkout:" --oneline
  co = checkout
  continue = rebase --continue
  fixup = commit --fixup
  fop = fetch -p origin
  fpo = push -f origin
  fpush = push -f
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ls-others = ls-files -o --exclude-standard
  pdiff = diff -w --color-words
  plog = log --oneline --decorate --graph --boundary
  pq = log --oneline --decorate --graph -p -b HEAD@{u}...
  pqr = log --oneline --decorate --reverse -p -b HEAD@{u}...
  pshow = show -w --color-words
  pstaged = diff --staged -w --color-words
  qf = log --format="%H" HEAD@{u}..
  qu = log --oneline --decorate --boundary --graph HEAD@{u}...
  quc = log --oneline --decorate --graph HEAD@{u}..
  qus = log --oneline --decorate --graph --stat -M HEAD@{u}...
  rbi = rebase -i
  rerebase = !git fetch upstream dev && git rebase upstream/dev
  review = rebase --autosquash -i HEAD@{u}
  rework = rebase --autosquash --autostash -i HEAD@{u}
  st = status -sb
  staged = diff --staged
  track = branch --set-upstream-to=upstream/dev
  trackm = branch --set-upstream-to=upstream/master
